<div class="wrapper">
    <app-sidebar></app-sidebar>

    <section class="login-dark">
        

        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <h1>Reservations</h1>
            <div class = "cg">
                <div *ngFor="let r of reservations" class = "card-group">
                    <div class="row">
                            <div class="card mycard">
                                <div class="card-body d-flex justify-content-between align-items-center">
                                <h5 class="card-title">Date: </h5>
                                <h5 class="card-text" [innerHTML]="r.datetime.replace('T',' ')"></h5>

                                
                                

                                <h5 class="card-title">People: </h5>
                                <h5 class="card-text"[innerHTML]="r.people"></h5>
                                <div >
                                    <a (click)="edit(r.id,r.datetime,r.people)" class="btn btn-primary mybtn">Edit</a>
                                    <a (click)="delete(r.id)" class="btn btn-primary mybtn">Delete</a>
                                </div>
                                </div>
                            <div *ngIf= "r.id == res.id && inEdit">
                                <h6 for="exampleInputDate1">Date</h6>
                                <input
                                    type="datetime-local"
                                    class="w-100"
                                    name="datetime"
                                    [(ngModel)]="res.datetime"
                                    required
                                    #datetime="ngModel"
                                    />
                                <div
                                    class="alert alert-danger"
                                    role="alert"
                                    *ngIf="datetime.errors && f.submitted"
                                    >
                                    Date is required!
                                </div>
                                
                                <h6 for="exampleInputPeople1">People</h6>
                                <input
                                    type="number"
                                    class="w-100"
                                    name="people"
                                    [(ngModel)]="res.people"
                                    required
                                    #people="ngModel"
                                    />
                                <div
                                    class="alert alert-danger"
                                    role="alert"
                                    *ngIf="people.errors && f.submitted"
                                    >
                                    Number of People is required!
                                </div>
                                <div class="">
                                    <button type="submit" class="btn btn-primary d-block w-100">
                                        Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
            </form>
        
    </section>
</div>
