<section class="login-dark">


    <form
      *ngIf="!isLoggedIn"
      name="form"
      class = "login-form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
        <h3>Sign in</h3>
        <div class="form-group mb-3">
            <label for="exampleInputEmail1" class="text-uppercase">Email</label>
            <input
            type="email"
            class="w-100"
            name="email"
            [(ngModel)]="account.email"
            required
            #email="ngModel"
            />
            <div
            class="alert alert-danger"
            role="alert"
            *ngIf="email.errors && f.submitted"
            >
            Email is required!
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="exampleInputPassword1" class="text-uppercase">Password</label>
            <input
            type="password"
            class="w-100"
            name="password"
            [(ngModel)]="account.password"
            required
            #password="ngModel"
            />
            <div
            class="alert alert-danger"
            role="alert"
            *ngIf="password.errors && f.submitted"
            >
            <div *ngIf="password.hasError('required')">Password is required</div>
            </div>
        </div>
        <div class="">
            <button type="submit" class="btn btn-primary d-block w-100">
                Login
            </button>
            <button routerLink="/register" class="btn btn-primary d-block w-100">
                Register
            </button>
        </div>
          <div class="form-group">
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="f.submitted && isLoginFailed">
              Login failed: {{ errorMessage }}
            </div>
          </div>
        </form>
    
</section>

