<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/login">Login</a>
      <a class="nav-item nav-link" routerLink="/manageAccount">manage Account</a>
  </div>
</nav> -->

<!-- main content container -->

 
      
          
    <router-outlet></router-outlet>
          
      
  



