<!-- Sidebar  -->
<nav id="sidebar" class="sidebar">
    <div class="sidebar-header" *ngIf="account.role == 'USER'">
        <h3>Manage Account</h3>
    </div>
    <div class="sidebar-header" *ngIf="account.role == 'ADMIN'">
        <h3>Admin Panel</h3>
    </div>
    <ul class="list-unstyled components">
         <li>
            <a class="nav-link"  routerLink="/"> HomePage </a>
        </li>
        <li>
            <a class="nav-link" routerLink="/manageAccount"> My Profile</a>
        </li>
        <li>
            <a class="nav-link" *ngIf="account.role == 'USER'" routerLink="/manageReservation"> My Reservation</a>
        </li>
        <li>
            <a class="nav-link" *ngIf="account.role == 'USER'" href="#Review"> My Review</a>
        </li>
        <li>
            <a class="nav-link" *ngIf="account.role == 'ADMIN'" routerLink="/reservations"> All Reservations</a>
        </li>
        <li>
            <a class="nav-link" *ngIf="account.role == 'ADMIN'" routerLink="/manageTables"> Manage Tables</a>
        </li>
        <li>
            <a class="nav-link" *ngIf="account.role == 'ADMIN'" routerLink="/manageAdmin"> Manage Gallery</a>
        </li>
    </ul>
</nav>
