<section class="login-dark">
        <form
          name="form"
          class = "login-form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate
        >
            <h3>Book a Table</h3>
            <div class="form-group mb-3">
                <label for="exampleInputDate1" class="text-uppercase">Date</label>
                <input
                    type="datetime-local"
                    class="w-100"
                    name="datetime"
                    [(ngModel)]="newReservation.datetime"
                    required
                    #datetime="ngModel"
                    />
                    <div
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="datetime.errors && f.submitted"
                    >
                    Date is required!
                    </div>
            </div>
            <div class="form-group mb-3">
                <label for="exampleInputPeople1" class="text-uppercase">People</label>
                <input
                    type="number"
                    class="w-100"
                    name="people"
                    [(ngModel)]="newReservation.people"
                    required
                    #people="ngModel"
                    />
                    <div
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="people.errors && f.submitted"
                    >
                    Number of People is required!
                    </div>
            </div>
            <div class="">
                <button type="submit" class="btn btn-primary d-block w-100">
                    Reserve
                </button>
            </div>
            </form>
</section>