<div  class="card-group">
    <div *ngFor="let d of days" class="card">
    <h5 class="card-title p-2"></h5>
    <img src='{{ "https://openweathermap.org/img/wn/" + d.weather[0].icon + "@4x.png" }}'
        class="card-img-top image-weather"
        alt="{{d.weather[0].description}}"
      /> 
      <div class="card-body">
        <h3 class="card-title">{{d.weather[0].main}}</h3>
        <p class="card-text">Massime {{d.temp.max}}&deg;C Minime {{d.temp.min}}&deg;C</p>
        <p class="card-text">Massime percepite {{d.feels_like.day }}&deg;C</p>
        <p class="card-text">Pressione {{d.pressure}}mb</p>
        <p class="card-text">Umidità {{d.humidity}}%</p>
        <p class="card-text">Indice UV {{d.uvi}}</p>
        <p class="card-text">Precipitazioni {{d.pop * 100}}%</p>
        <p class="card-text">Punto di rugiada {{d.dew_point}}</p>
        <p class="card-text">Vento {{d.wind_speed}}m/s, {{d.wind_deg}}&deg;</p>
        <p class="card-text">Alba {{d.sr}}</p>
        <p class="card-text">Tramonto {{d.ss}}</p>
      </div>
    </div>
  </div>


  