<!---START NAVIGATION BAR -->
<nav class="navbar navbar-expand-lg navbar fixed-top  navbar-light bg-light">
    <a class="navbar-brand" href="#Welcome"> <img
        src="./assets/images/logo.png" width="50" height="50" class="d-inline-block"
        alt=""> myRestaurant
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="#Welcome">Benvenuti</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#Restaurant">Ristorante</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#Gallery">Gallery</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#Menu">Menu</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#GiorniDiApertura">Giorni di apertura</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#Meteo"> Meteo </a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#DoveSiamo">Dove Siamo</a></li>
            <li class="nav-item" *ngIf="!isLoggedIn">
                    <a class="nav-link" routerLink="/login">Sign in </a>
            </li>

            <li class="nav-item" *ngIf="isLoggedIn && account.role == 'USER'"><a class="nav-link" routerLink="/createReservation">Book a Table</a></li>
            <li class="nav-item" *ngIf="isLoggedIn && account.role == 'USER'"><a class="nav-link" routerLink="/manageAccount">Manage Account</a></li>
            <li class="nav-item" *ngIf="isLoggedIn && account.role == 'ADMIN'"><a class="nav-link" routerLink="/manageAccount">Admin</a></li>
            <li class="nav-item" *ngIf="isLoggedIn">
                <a href class="nav-link" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<!--- END NAVIGATION BAR -->

