
<div class="wrapper">
<app-sidebar></app-sidebar>

<section class="login-dark">


    <form
      name="form"
      class = "login-form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
        <h3>Update Account</h3>
        <div class="form-group mb-3">
            <label for="exampleInputName1" class="text-uppercase">Name</label>
            <input
            type="text"
            class="w-100"
            name="name"
            [(ngModel)]="account.name"
            required
            #name="ngModel"
            />
            <div
            class="alert alert-danger"
            role="alert"
            *ngIf="name.errors && f.submitted"
            >
            Name is required!
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="exampleInputSurname1" class="text-uppercase">Surname</label>
            <input
            type="text"
            class="w-100"
            name="surname"
            [(ngModel)]="account.surname"
            required
            #surname="ngModel"
            />
            <div
            class="alert alert-danger"
            role="alert"
            *ngIf="surname.errors && f.submitted"
            >
            Surname is required!
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="exampleInputPassword1" class="text-uppercase">Password</label>
            <input
            type="password"
            class="w-100"
            name="password"
            [(ngModel)]="displayedPassword"
            #password="ngModel"
            />
        </div>
        <div class="form-group mb-3">
            <label for="exampleInputTel1" class="text-uppercase">Telephone</label>
            <input
            type="text"
            class="w-100"
            name="tel"
            [(ngModel)]="account.tel"
            required
            #tel="ngModel"
            />
            <div
            class="alert alert-danger"
            role="alert"
            *ngIf="tel.errors && f.submitted"
            >
            Telephone is required!
            </div>
        </div>
        <div class="">
            <button type="submit" class="btn btn-primary d-block w-100">
                Update
            </button>
        </div>
        </form>
    
</section>


<!-- <app-reservation></app-reservation> -->


  <!-- <div class="row">
    <ul *ngFor="let a of accounts">
        <li>{{a.email}}</li>
        <li>{{a.password}}</li>
        <li>{{a.role}}</li>
        <li>{{a.id}}</li>
    </ul>
    </div>





     <div>
         <h1>Delete Account</h1>
        <form class="delete-form">
            <div class="form-group">
                <label for="exampleInputEmail1" class="text-uppercase">Email</label>
                <input type="text" class="form-control" id="email" [(ngModel)]="account.id" name="id">
            </div>
            <div class="form-check">
                <button type="submit" (click)="deleteAccount()" class="btn btn-login float-right ">delete</button>
            </div>
        </form>
     </div> -->



</div>