<section class="registration-dark">
    <form
      *ngIf="!isLoggedIn"
      name="form"
      class = "login-form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
        <h3>Sign in</h3>
        <div class="form-group mb-3">
            <label for="exampleInputEmail1" class="text-uppercase">Email</label>
            <input
            type="email"
            class="w-100"
            name="email"
            [(ngModel)]="account.email"
            required
            #email="ngModel"
            />
            <div
            class="alert alert-danger"
            role="alert"
            *ngIf="email.errors && f.submitted"
            >
            Email is required!
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="exampleInputName1" class="text-uppercase">Name</label>
            <input
            type="text"
            class="w-100"
            name="name"
            [(ngModel)]="account.name"
            required
            #name="ngModel"
            />
            <div
            class="alert alert-danger"
            role="alert"
            *ngIf="name.errors && f.submitted"
            >
            Name is required!
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="exampleInputSurname1" class="text-uppercase">Surname</label>
            <input
            type="text"
            class="w-100"
            name="surname"
            [(ngModel)]="account.surname"
            required
            #surname="ngModel"
            />
            <div
            class="alert alert-danger"
            role="alert"
            *ngIf="surname.errors && f.submitted"
            >
            Surname is required!
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="exampleInputPassword1" class="text-uppercase">Password</label>
            <input
            type="password"
            class="w-100"
            name="password"
            [(ngModel)]="account.password"
            required
            #password="ngModel"
            />
            <div
            class="alert alert-danger"
            role="alert"
            *ngIf="password.errors && f.submitted"
            >
            <div *ngIf="password.hasError('required')">Password is required</div>
            </div>
        </div><div class="form-group mb-3">
            <label for="exampleInputTel1" class="text-uppercase">Telephone</label>
            <input
            type="text"
            class="w-100"
            name="tel"
            [(ngModel)]="account.tel"
            required
            #tel="ngModel"
            />
            <div
            class="alert alert-danger"
            role="alert"
            *ngIf="tel.errors && f.submitted"
            >
            Telephone is required!
            </div>
        </div>
        <div class="">
            <button type="submit" class="btn btn-primary d-block w-100">
                Register
            </button>
        </div>
        </form>
    
</section>
