

        
            <!-- <div *ngFor="let menu of menus"class="card-columns">
                <div th:each="menu : ${menus}" class="card" style="width: 18rem;">
                    <img class="card-img-top" src='{{"src/main/frontend/src/assets/images/menus\"+menu.fileName}}' alt="Card image cap">
                      <div class="card-body">
                            <h5 class="card-title" >{{menu.titolo}}</h5>
                            <p>{{menu.descrizione}}</p>p>
                      </div>
                </div>
            </div> -->
        
<!-- END MENU-->