/* .wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.section {
    width:100%;
} */

.gallery-sec {
    overflow: auto;
    height: 1320px;
    width: 100%;
    background: #475d62 url("/assets/images/IMG-20190917-WA0012.jpg");
    background-size:cover;
    background-repeat:"no-repeat";
    position: relative;
  }
  
.my-manage-admin{
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #1e2833;
}

  .gallery-form{
    text-align: center;
    color: #fff; 
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  h2, a , td , th, label{
    text-align: center;
    color: #fff; 
  }

  .wrapper {
    display: flex;
    min-width: 50%;
    min-height: 50%;
    align-items: stretch;
  }
  