<div class="wrapper">
	<app-sidebar></app-sidebar>
	
	<section class="gallery-sec">
		<div class="my-manage-admin">
			<div clas="row my-body" id="upload">
				<div class="col-md-8 mx-auto">
					<h2>Upload an image file for gallery </h2>
					<form [formGroup] = "uploadForm" class="gallery-form" (ngSubmit)="onSubmit($event)">      
						<div>
							<label>File</label>
						  	<input type="file" name="profile" (change)="onFileSelect($event)" />
						</div>
						<div>
						  <button type="submit">Upload</button>
						</div>
					  </form>
	
					  <ng-image-slider [images]="imgCollection" #nav></ng-image-slider>
		
					  <table>
						<thead>
							<tr>
								<th>Image</th>
								<th>delete</th>
							  </tr>
						</thead>
						<tbody>
							<tr *ngFor="let image of imgCollection">
								<td>{{image.image}}</td>
								<td> <a (click)="deleteImage(image)" class="btn btn-primary mybtn">Edit</a></td>
							</tr>
						</tbody>
					  </table>
				</div>
			</div>
		</div>
	</section>
</div>