<div class="wrapper">
    <app-sidebar></app-sidebar>

    <section class="login-dark">
        

        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <h1>Reservations</h1>
            <div class="cg">
                <div *ngFor="let r of reservations" class = "card-group">
                    <div class="row">
                            <div class="card mycard">
                                <div class="card-body d-flex justify-content-between align-items-center">
                                <h5 class="card-title">Email: </h5>
                                <h5 class="card-text" [innerHTML]="r.email"></h5>
                                <h5 class="card-title">Tel: </h5>
                                <h5 class="card-text" [innerHTML]="r.tel"></h5>
                                <h5 class="card-title">Date: </h5>
                                <h5 class="card-text" [innerHTML]="r.datetime.replace('T',' ')"></h5>
                                
                                

                                <h5 class="card-title">People: </h5>
                                <h5 class="card-text"[innerHTML]="r.people"></h5>
                                <div >
                                    <a (click)="delete(r.id)" class="btn btn-primary mybtn">Delete</a>
                                </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>           
            </form>
        
    </section>
</div>
