
.carousel-image{
   height: 100%;
   width:100%;

}

.carousel{
   margin-top: 100px;
}


.reserve-container{
   background-image:  url("/assets/images/IMG-20190815-WA0013.jpg");
   height: 70vh;
   text-align: center;
   color: white;
}


.row-title{
   margin-top: 100px;
   margin-bottom: 50px;
}


agm-map {
   height: 500px;
   width: 100%;
 }

 .card-marker{
    text-align: center;
 }