
   

    <app-navbar></app-navbar>
 

<div id="Welcome">

    <!-- START CAROUSEL-->
    <ngb-carousel
            [showNavigationArrows]="true" 
            [showNavigationIndicators]="true"
            [keyboard]="true"
            [interval]="5000"
            [pauseOnHover]="true"
            [wrap]="true"
            [activeId]="'secondSlide'"  class="carousel">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="carousel-image" src="./assets/images/IMG-20210801-WA0000.jpg"  alt="Angular Carousel 1">
          </div>
          <div class="carousel-caption">
            <h3>Traditional cuisine</h3>
            <p>in the midst of nature and peace</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="carousel-image" src="./assets/images/IMG-20190917-WA0017.jpg" alt="Angular Carousel 2">
          </div>
          <div class="carousel-caption">
            <h3>pleasant experiences</h3>
            <p>typical Lombard dishes</p>
          </div>
        </ng-template>
      </ngb-carousel>
    <!-- END CAROUSEL-->



<!--- START PRESENTATION PAGE-->
<div class="container">
    <div class="row row-title" id="Restaurant">
        <div class="col navMenu">
            <h2 class="text-center">~ Restaurant ~</h2>
        </div>
    </div>
    <div class="row bg-light">
        <div class="col-md-6">
            <h3>Location</h3>
            <p>Thanks for stopping by. We are the last authentic Italian
                restaurant in Milan, serving delicious Italian cuisine cooked by
                the best chefs. It only takes a few minutes to browse through our
                website and check out our menu. We hope you'll soon join us for a
                superb Italian culinary experience.</p>
            <h5>A Unique Experience</h5>
            <p>Thanks for stopping by. We are the last authentic Italian
                restaurant in Milan, serving delicious Italian cuisine cooked by
                the best chefs. It only takes a few minutes to browse through our
                website and check out our menu. We hope you'll soon join us for a
                superb Italian culinary experience.</p>
        </div>
        <div class="col-md-6" data-aos="fade-up">
            <img class="img-fluid" src="./assets/images/IMG-20200725-WA0003.jpeg">
        </div>
    </div>
    <div class="row bg-light">
        <br>
    </div>
    <div class="row bg-light">
        <div class="col-md-6 order-md-1 order-2" data-aos="fade-up">
            <img class="img-fluid " src="./assets/images/IMG-20190917-WA0001.jpg">
        </div>
        <div class="col-md-6 order-md-12 order-1">
            <h3>Cuisine</h3>
            <p>Thanks for stopping by. We are the last authentic Italian
                restaurant in Milan, serving delicious Italian cuisine cooked by
                the best chefs. It only takes a few minutes to browse through our
                website and check out our menu. We hope you'll soon join us for a
                superb Italian culinary experience.</p>
            <h5>A Unique Experience</h5>
            <p>Thanks for stopping by. We are the last authentic Italian
                restaurant in Milan, serving delicious Italian cuisine cooked by
                the best chefs. It only takes a few minutes to browse through our
                website and check out our menu. We hope you'll soon join us for a
                superb Italian culinary experience.</p>
        </div>
    </div>
    <!--- End of Restaurant -->
    <!--- END PRESENTATION PAGE-->




    <!--- START GALLERY -->
    <div class="row row-title" id="Gallery">
        <div class="col navMenu">
            <h2 class="text-center gallery">~ Gallery ~</h2>
        </div>
    </div>
    <!-- Gallery -->

    <ng-image-slider [images]="imgCollection" #nav></ng-image-slider>
    <!-- <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="./assets/images/IMG_20210618_185901.jpg"
                class="w-100 shadow-1-strong rounded mb-4" alt="" /> <img
                src="./assets/images/IMG_20210711_123304.jpg"
                class="w-100 shadow-1-strong rounded mb-4" alt="" />
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="./assets/images/IMG_20210711_122008.jpg"
                class="w-100 shadow-1-strong rounded mb-4" alt="" /> <img
                src="./assets/images/IMG_20210710_215521.jpg"
                class="w-100 shadow-1-strong rounded mb-4" alt="" />
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="./assets/images/IMG_20210710_195107.jpg"
                class="w-100 shadow-1-strong rounded mb-4" alt="" /> <img
                src="./assets/images/IMG_20210710_193107.jpg"
                class="w-100 shadow-1-strong rounded mb-4" alt="" />
        </div>
    </div> -->
    <!-- Gallery -->
    <!-- END GALLERY-->



    <!-- START MENU-->
    <div class="row row-title" id="Menu">
        <div class="col navMenu">
            <h2 class="text-center">~ Menus ~</h2>
        </div>
    </div>
    <!-- Menus -->
    <app-menus-card></app-menus-card>
    <!-- END MENU-->







    <!--- START GIORNI DI APERTURA-->
    <div class="row row-title" id="GiorniDiApertura">
        <div class="col navMenu">
            <h2 class="text-center">~ I nostri orari ~</h2>
        </div>
    </div>
    <div class="row">
        <div class=" col-lg-12 reserve-container" data-aos="fade-up">
            
            <div class="reserve-text col-lg-12 ">
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-center">
                            Lunedì e Mercoledì
                            </h1>
                            <h2 class="text-center">
                                10:00 - 15:00
                                </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-center">
                            Giovedi , Venerdì , Sabato e Domenica
                            </h1>
                            <h2 class="text-center">
                                10:00 - 23:30
                                </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-center">
                            Martedì giorno di chiusura
                            </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--- END GIORNI DI APERTURA-->








    <!-- START WEATHER-->
    <div class="row row-title" id="Meteo">
        <div class="col navMenu">
            <h2 class="text-center">~ Meteo ~</h2>
        </div>
    </div>
    <!-- Weathear -->
    <div class="weather row gx-2">
        <app-weather-card></app-weather-card>
    </div>
    <!-- END WEAHTER-->








    <!--- START DOVE SIAMO -->
    <div class="row row-title" id="DoveSiamo">
        <div class="col navMenu">
            <h2 class="text-center">~ Dove siamo ~</h2>
        </div>
    </div>
    <!--  MAPPA GOOGLE-->
    <div class="row">
        <div id="map" class="col-md-12 map">
            


                
                    <agm-map [latitude]="markers[1].location.lat" [longitude]="markers[1].location.lng" [zoom]="zoom"
                        [fullscreenControl]='true' [mapTypeControl]='true'>
                            <agm-marker 
                            *ngFor="let m of markers; let i = index"
                            [latitude]="m.location.lat" 
                            [longitude]="m.location.lng"
                            [label]="m.label"
                            >
                            <agm-info-window>
                                <div  class="card-marker">
                                    <h5>{{m.title}}</h5>
                                    <img src='{{m.url}}' alt="Image"  width="100px" height="100px"> 
                                    <br>
                                    <p> {{m.description}} </p>
                                    <br>
                                    <button type="button" class="btn btn-primary" (click)="setDirection(m.location)">Direction</button>
                                </div>
                            </agm-info-window>
                            
                            <agm-direction [waypoints]="waypoints" [origin]="origin" [destination]="destination" [travelMode]="travelMode"></agm-direction>

                        </agm-marker>
                    </agm-map>
                



        </div>
    </div>
    <!-- END MAPPA GOOGLE-->




</div>
<!--- END CONTAINER PAGE-->





<!--- FOOTER WITH SOCIAL MEDIA LINK -->
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
        <span>Rimani connesso ai nostri social network:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
        <a href="https://www.facebook.com/ristorantesanpietrorobecchetto" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
        </a>
        <a href="https://www.instagram.com/_ristorante_san_pietro/" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://www.tripadvisor.it/Restaurant_Review-g1077965-d4023390-Reviews-Ristorante_San_Pietro-Robecchetto_con_Induno_Province_of_Milan_Lombardy.html" class="me-4 text-reset">
        <i class="fab fa-tripadvisor"></i>
        </a>
    </div>
    <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
    <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Company name
            </h6>
            <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
            </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
            Products
            </h6>
            <p>
            <a href="#!" class="text-reset">Angular</a>
            </p>
            <p>
            <a href="#!" class="text-reset">React</a>
            </p>
            <p>
            <a href="#!" class="text-reset">Vue</a>
            </p>
            <p>
            <a href="#!" class="text-reset">Laravel</a>
            </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
            Link utili
            </h6>
            <p>
            <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
            <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
            <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
            <a href="#!" class="text-reset">Help</a>
            </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
            Contatti
            </h6>
            <p><i class="fas fa-home me-3"></i> Strada Alzaia Naviglio Grande, 18, 20020 Robecchetto con Induno MI</p>
            <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="">Blog Personale</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

