.wrapper {
  display: flex;
  min-width: 100%;
  min-height: 100%;
  align-items: stretch;
}

.login-dark {
  overflow: auto;
  height: auto;
  width: 100%;
  background: #475d62 url("/assets/images/IMG-20190917-WA0012.jpg");
  background-size:cover;
  background-repeat:"no-repeat";
  position: relative;
}

.login-dark form {
  /* max-width: 70%;
  max-height: 100%;
  min-width: 40%;
  min-height: 50%; */
  /* max-height: calc(100vh - 100px); */
  background-color: #1e2833;
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgb(0, 0, 0);
  box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
}

.login-dark .illustration {
  text-align: center;
  padding: 15px 0 20px;
  font-size: 100px;
  color: #2980ef;
}

.login-dark form .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}

.login-dark form .btn-primary {
  background: #214a80;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
  background: #214a80;
  outline: none;
}

.login-dark form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

.login-dark form .btn-primary:active {
  transform: translateY(1px);
}

h5{
  text-align: center;
  color: rgb(0, 0, 0); 
}
h4, a{
  text-align: center;
  color: #fff; 
}
h1{
  text-align: center;
  color: rgb(255, 255, 255); 
}

.link{
  color: #3a70b8;
  text-align: center;
}
.section {
  width:100%;
}
.mycard{
margin:40px;
padding: 10px;
width: 800px;
min-width: 80%;
min-height: 50%;
}
.mybtn{
text-align: center;
margin: 10px;
border: 10px;
padding: 5px;
min-width: 15%;
}
.cg{
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}