<div class="wrapper">
    <app-sidebar></app-sidebar>

    <section class="login-dark">
        

        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <h1>Manage Tables</h1>
            <div class = "card mycard">
                <!-- <div class="card-body d-flex justify-content-between align-items-center"> -->
                <div>
                <h6 for="exampleInputDate1">Date</h6>
                    <input
                        type="date"
                        class="w-100"
                        name="datetime"
                        [(ngModel)]="date"
                        required
                        #datetime="ngModel"
                        />
                    <div
                        class="alert alert-danger"
                        role="alert"
                        *ngIf="datetime.errors && f.submitted"
                        >
                        Date is required!
                    </div>
                </div>
                <a (click)="search(date)" class="btn btn-primary mybtn">Search</a>
            </div>
            <h1 *ngIf="inSearch">Launch</h1>
            <div class ="cg">
                <div *ngFor="let r of launch" class = "card-group mygroup">
                    <div class="row">
                            <div class="card mycard">
                                <div class="card-body d-flex justify-content-between align-items-center">
                                <h5 class="card-title">Email: </h5>
                                <h5 class="card-text" [innerHTML]="r.email"></h5>
                                <h5 class="card-title">Tel: </h5>
                                <h5 class="card-text" [innerHTML]="r.tel"></h5>
                                <h5 class="card-title">Date: </h5>
                                <h5 class="card-text" [innerHTML]="r.datetime.replace('T',' ').substring(10,16)"></h5>
                                <h5 class="card-title">People: </h5>
                                <h5 class="card-text"[innerHTML]="r.people"></h5>
                                <h5 class="card-title">Table: </h5>
                                <h5 class="card-text"[innerHTML]="r.tablenumber"></h5>
                                

                                
                                <div >
                                    <a (click)="edit(r.id,reservation.tablenumber)" class="btn btn-primary mybtn">Assign Table</a>
                                    <a (click)="delete(r.id)" class="btn btn-primary mybtn">Delete</a>
                                </div>
                                
                                </div>
                                <div *ngIf= "r.id == reservation.id && inEdit">
                                    <h6 for="exampleInputTable1">Table</h6>
                                    <input
                                    type="number"
                                    class="w-100"
                                    name="tablenumber"
                                    [(ngModel)]="reservation.tablenumber"
                                    required
                                    #tablenumber="ngModel"
                                    />
                                <div
                                    class="alert alert-danger"
                                    role="alert"
                                    *ngIf="tablenumber.errors && f.submitted"
                                    >
                                    Table number is required!
                                </div>
                                <div class="">
                                    <button type="submit" class="btn btn-primary d-block w-100">
                                        Add Table
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>  
            </div>
                    <h1 *ngIf="inSearch">Dinner</h1>
                    <div class ="cg">
                    <div *ngFor="let r of dinner" class = "card-group">
                        <div class="row">
                                <div class="card mycard">
                                    <div class="card-body d-flex justify-content-between align-items-center">
                                    <h5 class="card-title">Email: </h5>
                                    <h5 class="card-text" [innerHTML]="r.email"></h5>
                                    <h5 class="card-title">Tel: </h5>
                                    <h5 class="card-text" [innerHTML]="r.tel"></h5>
                                    <h5 class="card-title">Date: </h5>
                                    <h5 class="card-text" [innerHTML]="r.datetime.replace('T',' ').substring(10,16)"></h5>
                                    
                                    
    
                                    <h5 class="card-title">People: </h5>
                                    <h5 class="card-text"[innerHTML]="r.people"></h5>

                                    <h5 class="card-title">Table: </h5>
                                    <h5 class="card-text"[innerHTML]="r.tablenumber"></h5>

                                    
                                    <div >
                                        <a (click)="edit(r.id,reservation.tablenumber)" class="btn btn-primary mybtn">Assign Table</a>
                                        <a (click)="delete(r.id)" class="btn btn-primary mybtn">Delete</a>
                                    </div>
                                    </div>
                                    <div *ngIf= "r.id == reservation.id && inEdit">
                                        <h6 for="exampleInputTable1">Table</h6>
                                        <input
                                        type="number"
                                        class="w-100"
                                        name="tablenumber"
                                        [(ngModel)]="reservation.tablenumber"
                                        required
                                        #tablenumber="ngModel"
                                        />
                                    <div
                                        class="alert alert-danger"
                                        role="alert"
                                        *ngIf="tablenumber.errors && f.submitted"
                                        >
                                        Table number is required!
                                    </div>
                                    <div class="">
                                        <button type="submit" class="btn btn-primary d-block w-100">
                                            Add Table
                                        </button>
                                    </div>
                                
                                </div>
                                </div>
                            </div>
                        </div>  
                    </div>              
            </form>
        
    </section>
</div>
